<h1>Pipes <small>Angular</small></h1>
<hr>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                    <th>edad</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre | uppercase}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{porcentaje | percent}}</td>
                    
                </tr>
            
            </tbody>

        </table>

    </div>

</div>
